<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="KeepaNexus" value="https://nexus.kserv.ir/repository/nuget.org-proxy/index.json" />
		<add key="KeepaNexusLocal" value="https://nexus.kserv.ir/repository/nuget-hosted" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="KeepaNexusLocal">
			<package pattern="Shared.*" />
		</packageSource>
		<packageSource key="KeepaNexus">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>